<div class="formulaire">
    <h1>
         Ajouter les utilisateurs votre tableau
    </h1>
    <p *ngFor="let s of student"> -> je m'appele:  {{s.nom}} <br> mon prenom est: {{s.prenom}}</p>

    <form #form="ngForm" (submit)="submit(form)">
        <label for="nom">Nom :
            <input type="text" name="nom" id="nom" [(ngModel)]="nom" required/>
           
        </label><br> <br>
        <label for="prenom">Prenom :
            <input  type="text" name="prenom" id="prenom" [(ngModel)]="prenom" required/>
        </label>
      <br> <br>

     <button type="submit">Ajouter</button>
  </form>
</div>

  